* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.main {
  width: 90vw;
  margin-top: 50px;
  margin-bottom: 12px;
  display: flex;
  flex-flow: column nowrap;
  margin-left: auto;
  justify-content: center;
  margin-right: auto;
  background: #fff;
  gap: 15px;
}
@media screen and (min-width: 1000px) {
  .main {
    flex-flow: row;
    gap: 30px;
  }
}
.main .card-contacto-main {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: baseline;
  gap: 15px;
}
@media screen and (min-width: 1000px) {
  .main .card-contacto-main {
    width: 700px;
  }
}
.main .card-contacto-main .card-contacto {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 5px;
}
.main .card-contacto-main .card-contacto .text-contacto {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 12px;
}
.main .card-contacto-main .card-contacto .text-contacto img {
  width: 35px;
  height: 35px;
}
.main .card-contacto-main .card-contacto .text-contacto span {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main .card-contacto-main .card-contacto .contactar {
  width: 100%;
}
.main .card-contacto-main .card-contacto .contactar a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  gap: 5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
}
.main .card-contacto-main .card-contacto .contactar a svg {
  color: white !important;
  filter: invert(100%);
  width: 20px;
}
.main .card-contacto-main .main-card-detalles-equipo .descripcion-propieadades-equipo {
  gap: 5px !important;
}
.main .card-contacto-main .main-card-detalles-equipo .descripcion-propieadades-equipo .propiedades-contenedor {
  gap: 5px !important;
}
.main .card-contacto-main .main-card-detalles-equipo .descripcion-propieadades-equipo .propiedades-contenedor .propiedad {
  gap: 10px !important;
  margin: 0px 0px 11px 0px !important;
}
.main .card-contacto-main .main-card-detalles-equipo .descripcion-propieadades-equipo .propiedades-contenedor .propiedad label {
  width: 130px !important;
}
.main .card-contacto-main .info-empresa {
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.21);
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
}
.main .card-contacto-main .info-empresa hr {
  background: #e2e2e2;
  width: 100%;
}
.main .card-contacto-main .info-empresa .header-info {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: start;
  justify-content: start;
  gap: 10px;
}
.main .card-contacto-main .info-empresa .header-info svg {
  width: 40px;
  height: 40px;
}
.main .card-contacto-main .info-empresa .body-text-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
  gap: 10px;
  font-size: 14px;
  width: 100%;
  height: auto;
}
.main .card-contacto-main .info-empresa .body-text-info span strong {
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main .card-contacto-main .info-empresa .body-text-info .condicion-estado {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.main .card-contacto-main .info-empresa .body-text-info .condicion-estado span {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.main .card-contacto-main .info-empresa .body-text-info .text-informativo {
  color: #666 !important;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main .card-contacto-main .info-empresa .body-text-info .contenedor-button-info {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.main .card-contacto-main .info-empresa .body-text-info .contenedor-button-info a {
  width: 45%;
  max-width: 220px;
  height: 30px;
  color: white;
  font-size: 13px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .main-detalles-equipos {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  margin-bottom: 40px;
}
.main .main-card-detalles-equipo {
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.21);
}
.main .contenedor-enalces-mantenimiento {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  justify-content: center;
}
@media screen and (min-width: 580px) {
  .main .contenedor-enalces-mantenimiento {
    justify-content: flex-start;
  }
}
.main .contenedor-enalces-mantenimiento .item-enlace {
  padding: 10px;
  display: flex;
  width: 150px;
  gap: 10px;
  border-radius: 5px;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  box-shadow: -1px 2px 9px 0px rgba(0, 0, 0, 0.3019607843);
}
.main .contenedor-enalces-mantenimiento .item-enlace img {
  width: 70px;
}
.main .contenedor-enalces-mantenimiento .item-enlace span {
  display: block;
  text-align: center;
}
.main .main-card-sedes,
.main .main-card-equipos,
.main .main-card-detalles-equipo {
  width: 100%;
  height: max-content;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  border-radius: 5px;
  background: #fff;
}
.main .main-card-sedes .detalle-equipo-header,
.main .main-card-equipos .detalle-equipo-header,
.main .main-card-detalles-equipo .detalle-equipo-header {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .main .main-card-sedes .detalle-equipo-header,
  .main .main-card-equipos .detalle-equipo-header,
  .main .main-card-detalles-equipo .detalle-equipo-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.main .main-card-sedes .detalle-equipo-header .name-equipo,
.main .main-card-equipos .detalle-equipo-header .name-equipo,
.main .main-card-detalles-equipo .detalle-equipo-header .name-equipo {
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  width: 100%;
  gap: 5px;
}
.main .main-card-sedes .detalle-equipo-header .name-equipo button,
.main .main-card-equipos .detalle-equipo-header .name-equipo button,
.main .main-card-detalles-equipo .detalle-equipo-header .name-equipo button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 35px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  gap: 5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  display: none;
}
@media screen and (min-width: 744px) {
  .main .main-card-sedes .detalle-equipo-header .name-equipo button,
  .main .main-card-equipos .detalle-equipo-header .name-equipo button,
  .main .main-card-detalles-equipo .detalle-equipo-header .name-equipo button {
    display: block;
  }
}
.main .main-card-sedes .detalle-equipo-header .img-header-equipo,
.main .main-card-equipos .detalle-equipo-header .img-header-equipo,
.main .main-card-detalles-equipo .detalle-equipo-header .img-header-equipo {
  display: flex;
  gap: 10px;
}
.main .main-card-sedes .detalle-equipo-header .img-header-equipo img,
.main .main-card-equipos .detalle-equipo-header .img-header-equipo img,
.main .main-card-detalles-equipo .detalle-equipo-header .img-header-equipo img {
  width: 100px;
  height: 100px;
  border: 1px solid #e2e2e2;
}
.main .main-card-sedes .detalle-equipo-header .btn-mobile,
.main .main-card-equipos .detalle-equipo-header .btn-mobile,
.main .main-card-detalles-equipo .detalle-equipo-header .btn-mobile {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  gap: 5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  display: block;
}
@media screen and (min-width: 744px) {
  .main .main-card-sedes .detalle-equipo-header .btn-mobile,
  .main .main-card-equipos .detalle-equipo-header .btn-mobile,
  .main .main-card-detalles-equipo .detalle-equipo-header .btn-mobile {
    display: none;
  }
}
.main .main-card-sedes .descripcion-propieadades-equipo,
.main .main-card-equipos .descripcion-propieadades-equipo,
.main .main-card-detalles-equipo .descripcion-propieadades-equipo {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  padding: 10px;
}
.main .main-card-sedes .descripcion-propieadades-equipo .propiedades-contenedor,
.main .main-card-equipos .descripcion-propieadades-equipo .propiedades-contenedor,
.main .main-card-detalles-equipo .descripcion-propieadades-equipo .propiedades-contenedor {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0px;
}
.main .main-card-sedes .descripcion-propieadades-equipo .propiedades-contenedor .propiedad,
.main .main-card-equipos .descripcion-propieadades-equipo .propiedades-contenedor .propiedad,
.main .main-card-detalles-equipo .descripcion-propieadades-equipo .propiedades-contenedor .propiedad {
  display: flex !important;
  flex-flow: row wrap;
  gap: 10px;
}
.main .main-card-sedes .descripcion-propieadades-equipo .propiedades-contenedor .propiedad label,
.main .main-card-equipos .descripcion-propieadades-equipo .propiedades-contenedor .propiedad label,
.main .main-card-detalles-equipo .descripcion-propieadades-equipo .propiedades-contenedor .propiedad label {
  width: 200px;
}
.main .main-card-sedes .descripcion-propieadades-equipo .propiedades-contenedor .propiedad span,
.main .main-card-equipos .descripcion-propieadades-equipo .propiedades-contenedor .propiedad span,
.main .main-card-detalles-equipo .descripcion-propieadades-equipo .propiedades-contenedor .propiedad span {
  width: 200px;
}
.main .main-card-sedes .titulo-seccion,
.main .main-card-equipos .titulo-seccion,
.main .main-card-detalles-equipo .titulo-seccion {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}
.main .main-card-sedes .titulo-seccion button,
.main .main-card-equipos .titulo-seccion button,
.main .main-card-detalles-equipo .titulo-seccion button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 160px;
  max-width: 185px;
  height: 35px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  gap: 5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
}
.main .main-card-sedes .main-adjuntos,
.main .main-card-equipos .main-adjuntos,
.main .main-card-detalles-equipo .main-adjuntos {
  width: 100%;
  height: max-content;
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(176px, 1fr));
  gap: 10px;
}
.main .main-card-sedes .main-sedes,
.main .main-card-sedes .main-equipos,
.main .main-card-equipos .main-sedes,
.main .main-card-equipos .main-equipos,
.main .main-card-detalles-equipo .main-sedes,
.main .main-card-detalles-equipo .main-equipos {
  width: 100%;
  height: max-content;
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 10px;
}
.main .main-card-sedes .card-adjunto,
.main .main-card-equipos .card-adjunto,
.main .main-card-detalles-equipo .card-adjunto {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  text-decoration: none;
  color: black;
  margin: 0px auto;
}
.main .main-card-sedes .card-adjunto img,
.main .main-card-equipos .card-adjunto img,
.main .main-card-detalles-equipo .card-adjunto img {
  width: 100%;
  height: 200px;
}
.main .main-card-sedes .card-adjunto p,
.main .main-card-equipos .card-adjunto p,
.main .main-card-detalles-equipo .card-adjunto p {
  font-size: 13px;
  text-align: center;
  margin: 0px;
}
.main .main-card-sedes .card-adjunto a,
.main .main-card-equipos .card-adjunto a,
.main .main-card-detalles-equipo .card-adjunto a {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.main .main-card-sedes .card-adjunto a svg,
.main .main-card-equipos .card-adjunto a svg,
.main .main-card-detalles-equipo .card-adjunto a svg {
  color: white;
}
.main .main-card-sedes .card-sede,
.main .main-card-sedes .card-equipo,
.main .main-card-sedes .card-mantenimiento,
.main .main-card-equipos .card-sede,
.main .main-card-equipos .card-equipo,
.main .main-card-equipos .card-mantenimiento,
.main .main-card-detalles-equipo .card-sede,
.main .main-card-detalles-equipo .card-equipo,
.main .main-card-detalles-equipo .card-mantenimiento {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  width: 100%;
  height: auto;
  position: relative;
  padding: 5px;
  justify-content: start;
  align-items: flex-start;
  background-color: white;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  text-decoration: none;
  color: black;
}
.main .main-card-sedes .card-sede img,
.main .main-card-sedes .card-equipo img,
.main .main-card-sedes .card-mantenimiento img,
.main .main-card-equipos .card-sede img,
.main .main-card-equipos .card-equipo img,
.main .main-card-equipos .card-mantenimiento img,
.main .main-card-detalles-equipo .card-sede img,
.main .main-card-detalles-equipo .card-equipo img,
.main .main-card-detalles-equipo .card-mantenimiento img {
  width: 100px;
  height: 100px;
}
.main .main-card-sedes .card-sede .text-card-sede,
.main .main-card-sedes .card-sede .text-card-equipo,
.main .main-card-sedes .card-sede .text-card-mantenimiento,
.main .main-card-sedes .card-equipo .text-card-sede,
.main .main-card-sedes .card-equipo .text-card-equipo,
.main .main-card-sedes .card-equipo .text-card-mantenimiento,
.main .main-card-sedes .card-mantenimiento .text-card-sede,
.main .main-card-sedes .card-mantenimiento .text-card-equipo,
.main .main-card-sedes .card-mantenimiento .text-card-mantenimiento,
.main .main-card-equipos .card-sede .text-card-sede,
.main .main-card-equipos .card-sede .text-card-equipo,
.main .main-card-equipos .card-sede .text-card-mantenimiento,
.main .main-card-equipos .card-equipo .text-card-sede,
.main .main-card-equipos .card-equipo .text-card-equipo,
.main .main-card-equipos .card-equipo .text-card-mantenimiento,
.main .main-card-equipos .card-mantenimiento .text-card-sede,
.main .main-card-equipos .card-mantenimiento .text-card-equipo,
.main .main-card-equipos .card-mantenimiento .text-card-mantenimiento,
.main .main-card-detalles-equipo .card-sede .text-card-sede,
.main .main-card-detalles-equipo .card-sede .text-card-equipo,
.main .main-card-detalles-equipo .card-sede .text-card-mantenimiento,
.main .main-card-detalles-equipo .card-equipo .text-card-sede,
.main .main-card-detalles-equipo .card-equipo .text-card-equipo,
.main .main-card-detalles-equipo .card-equipo .text-card-mantenimiento,
.main .main-card-detalles-equipo .card-mantenimiento .text-card-sede,
.main .main-card-detalles-equipo .card-mantenimiento .text-card-equipo,
.main .main-card-detalles-equipo .card-mantenimiento .text-card-mantenimiento {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
  gap: 1px;
}
.main .main-card-sedes .card-sede .text-card-sede span,
.main .main-card-sedes .card-sede .text-card-equipo span,
.main .main-card-sedes .card-sede .text-card-mantenimiento span,
.main .main-card-sedes .card-equipo .text-card-sede span,
.main .main-card-sedes .card-equipo .text-card-equipo span,
.main .main-card-sedes .card-equipo .text-card-mantenimiento span,
.main .main-card-sedes .card-mantenimiento .text-card-sede span,
.main .main-card-sedes .card-mantenimiento .text-card-equipo span,
.main .main-card-sedes .card-mantenimiento .text-card-mantenimiento span,
.main .main-card-equipos .card-sede .text-card-sede span,
.main .main-card-equipos .card-sede .text-card-equipo span,
.main .main-card-equipos .card-sede .text-card-mantenimiento span,
.main .main-card-equipos .card-equipo .text-card-sede span,
.main .main-card-equipos .card-equipo .text-card-equipo span,
.main .main-card-equipos .card-equipo .text-card-mantenimiento span,
.main .main-card-equipos .card-mantenimiento .text-card-sede span,
.main .main-card-equipos .card-mantenimiento .text-card-equipo span,
.main .main-card-equipos .card-mantenimiento .text-card-mantenimiento span,
.main .main-card-detalles-equipo .card-sede .text-card-sede span,
.main .main-card-detalles-equipo .card-sede .text-card-equipo span,
.main .main-card-detalles-equipo .card-sede .text-card-mantenimiento span,
.main .main-card-detalles-equipo .card-equipo .text-card-sede span,
.main .main-card-detalles-equipo .card-equipo .text-card-equipo span,
.main .main-card-detalles-equipo .card-equipo .text-card-mantenimiento span,
.main .main-card-detalles-equipo .card-mantenimiento .text-card-sede span,
.main .main-card-detalles-equipo .card-mantenimiento .text-card-equipo span,
.main .main-card-detalles-equipo .card-mantenimiento .text-card-mantenimiento span {
  font-size: 13px;
}
.main .main-card-sedes .card-sede .text-card-sede span:first-child,
.main .main-card-sedes .card-sede .text-card-equipo span:first-child,
.main .main-card-sedes .card-sede .text-card-mantenimiento span:first-child,
.main .main-card-sedes .card-equipo .text-card-sede span:first-child,
.main .main-card-sedes .card-equipo .text-card-equipo span:first-child,
.main .main-card-sedes .card-equipo .text-card-mantenimiento span:first-child,
.main .main-card-sedes .card-mantenimiento .text-card-sede span:first-child,
.main .main-card-sedes .card-mantenimiento .text-card-equipo span:first-child,
.main .main-card-sedes .card-mantenimiento .text-card-mantenimiento span:first-child,
.main .main-card-equipos .card-sede .text-card-sede span:first-child,
.main .main-card-equipos .card-sede .text-card-equipo span:first-child,
.main .main-card-equipos .card-sede .text-card-mantenimiento span:first-child,
.main .main-card-equipos .card-equipo .text-card-sede span:first-child,
.main .main-card-equipos .card-equipo .text-card-equipo span:first-child,
.main .main-card-equipos .card-equipo .text-card-mantenimiento span:first-child,
.main .main-card-equipos .card-mantenimiento .text-card-sede span:first-child,
.main .main-card-equipos .card-mantenimiento .text-card-equipo span:first-child,
.main .main-card-equipos .card-mantenimiento .text-card-mantenimiento span:first-child,
.main .main-card-detalles-equipo .card-sede .text-card-sede span:first-child,
.main .main-card-detalles-equipo .card-sede .text-card-equipo span:first-child,
.main .main-card-detalles-equipo .card-sede .text-card-mantenimiento span:first-child,
.main .main-card-detalles-equipo .card-equipo .text-card-sede span:first-child,
.main .main-card-detalles-equipo .card-equipo .text-card-equipo span:first-child,
.main .main-card-detalles-equipo .card-equipo .text-card-mantenimiento span:first-child,
.main .main-card-detalles-equipo .card-mantenimiento .text-card-sede span:first-child,
.main .main-card-detalles-equipo .card-mantenimiento .text-card-equipo span:first-child,
.main .main-card-detalles-equipo .card-mantenimiento .text-card-mantenimiento span:first-child {
  font-size: 15px;
}
.main .main-card-sedes .card-sede a,
.main .main-card-sedes .card-equipo a,
.main .main-card-sedes .card-mantenimiento a,
.main .main-card-equipos .card-sede a,
.main .main-card-equipos .card-equipo a,
.main .main-card-equipos .card-mantenimiento a,
.main .main-card-detalles-equipo .card-sede a,
.main .main-card-detalles-equipo .card-equipo a,
.main .main-card-detalles-equipo .card-mantenimiento a {
  width: 40px;
  border-radius: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}
.main .main-card-sedes .card-sede a svg,
.main .main-card-sedes .card-equipo a svg,
.main .main-card-sedes .card-mantenimiento a svg,
.main .main-card-equipos .card-sede a svg,
.main .main-card-equipos .card-equipo a svg,
.main .main-card-equipos .card-mantenimiento a svg,
.main .main-card-detalles-equipo .card-sede a svg,
.main .main-card-detalles-equipo .card-equipo a svg,
.main .main-card-detalles-equipo .card-mantenimiento a svg {
  color: white;
}
.main .main-card-sedes .card-mantenimiento,
.main .main-card-equipos .card-mantenimiento,
.main .main-card-detalles-equipo .card-mantenimiento {
  display: flex;
  justify-content: space-between;
}
.main .main-card-sedes .card-mantenimiento img,
.main .main-card-equipos .card-mantenimiento img,
.main .main-card-detalles-equipo .card-mantenimiento img {
  width: 50px !important;
  height: 50px !important;
}
.main .main-card-sedes .card-mantenimiento strong,
.main .main-card-equipos .card-mantenimiento strong,
.main .main-card-detalles-equipo .card-mantenimiento strong {
  font-size: 13px;
}
.main .main-card-sedes .card-mantenimiento span,
.main .main-card-equipos .card-mantenimiento span,
.main .main-card-detalles-equipo .card-mantenimiento span {
  font-size: 12px;
}
.main .main-card-sedes .card-mantenimiento span:first-child,
.main .main-card-equipos .card-mantenimiento span:first-child,
.main .main-card-detalles-equipo .card-mantenimiento span:first-child {
  font-size: 12px !important;
}
.main .main-card-sedes .card-mantenimiento span span,
.main .main-card-equipos .card-mantenimiento span span,
.main .main-card-detalles-equipo .card-mantenimiento span span {
  font-size: 12px;
}

.main-historial-equipo {
  width: 90vw;
  margin-top: 50px;
  margin-bottom: 12px;
  display: flex;
  flex-flow: column nowrap;
  margin-left: auto;
  justify-content: center;
  margin-right: auto;
  background: #fff;
  gap: 15px;
}

.modal-body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.modal-body input,
.modal-body select,
.modal-body textarea {
  width: 100%;
  height: 38px;
  border-radius: 5px;
  border: 0px;
  background: #fff;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.25) inset;
  outline: none;
  padding-left: 10px;
}
.modal-body input ::placeholder,
.modal-body select ::placeholder,
.modal-body textarea ::placeholder {
  color: black;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.modal-footer button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 35px !important;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  gap: 5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
}

.visor-imagen {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.57);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}
.visor-imagen img {
  width: 60%;
  max-width: 80%;
  cursor: pointer;
}

.display-none {
  display: none;
}

/*# sourceMappingURL=sedes_portal.css.map */
